<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      max-width="100%"
      style="table-layout: fixed"
      id="bodyTable"
    >
      <tr>
        <td valign="top" align="center" id="bodyCell">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="wrapperBody"
            style="max-width: 100%"
          >
            <tr
              style="
                padding: 0 20px;
                font-size: 24px;
                font-weight: 700;
                background: rgba(37, 99, 235, 0.076);
              "
              align="center"
            >
              <td
                style="
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  border: 1px solid rgba(7, 89, 133, 0.353);
                "
              >
                <table>
                  <tr style="vertical-align: center">
                    <td>
                      <a
                        href="https://pictinc.org"
                        style="text-decoration: none"
                        ><img
                          alt="PICT InC Logo"
                          src="https://res.cloudinary.com/job-kart/image/upload/v1677563341/inc_logo_f6oa8l.png"
                          style="
                            width: 100px;
                            max-width: 80%;
                            height: auto;
                            border: none;
                            text-decoration: none;
                            color: #fff;
                          "
                          width="100"
                      /></a>
                    </td>
                    <td>
                      <span
                        style="
                          font-size: 2.6rem;
                          display: inline-block;
                          font-weight: 800;
                          color: #000;
                          font-family: Poppins, Helvetica, Arial, sans-serif;
                        "
                        valign="center"
                        >PICT InC 2023</span
                      >
                    </td>
                  </tr>
                </table>
                <tr></tr>
                <tr>
                  <td valign="top" align="center">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="tableCard"
                      style="
                        background-color: rgba(37, 99, 235, 0.076);
                        border-color: rgba(7, 89, 133, 0.3);
                        border-style: solid;
                        border-width: 0 1px 1px 1px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                      "
                    >
                      <tr>
                        <td
                          style="
                            background-color: #f2a30f;
                            font-size: 1px;
                            line-height: 3px;
                          "
                          class="topBorder"
                          height="3"
                        >
                          <tr>
                            <td
                              style="
                                padding-top: 20px;
                                padding-bottom: 5px;
                                padding-left: 20px;
                                padding-right: 20px;
                              "
                              class="mainTitle"
                              valign="top"
                              align="center"
                            >
                              <h2
                                class="text"
                                style="
                                  color: #000;
                                  font-family: Poppins, Helvetica, Arial,
                                    sans-serif;
                                  font-size: 28px;
                                  font-weight: 500;
                                  font-style: normal;
                                  letter-spacing: normal;
                                  line-height: 36px;
                                  text-transform: none;
                                  text-align: center;
                                  padding: 0;
                                  margin: 0;
                                "
                              >
                                Registered for InC'23 Judging
                              </h2>
                              <tr>
                                <td
                                  style="padding: 20px 0; max-width: 100%"
                                  class="containtTable ui-sortable"
                                  valign="top"
                                  align="center"
                                >
                                <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                                class="tableDescription"
                              >
                                <tr>
                                  <td
                                    style="padding-bottom: 20px"
                                    class="description"
                                    valign="top"
                                    align="center"
                                  >
                                    <h4
                                      style="
                                        color: #f2a30f;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 18px;
                                        font-weight: 600;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      JUDGE email : <%= judge.email %>
                                    </h4>
                                  </td>
                                </tr>
                              </table>
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                    class="tableDescription"
                                  >
                                    <tr>
                                      <td
                                        style="padding: 20px 60px"
                                        class="description"
                                        valign="top"
                                        align="center"
                                      >
                                        <p
                                          class="text"
                                          style="
                                            color: #002538;
                                            font-family: 'Open Sans', Helvetica,
                                              Arial, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            font-style: normal;
                                            letter-spacing: normal;
                                            text-transform: none;
                                            text-align: center;
                                            padding: 0;
                                            margin: 0;
                                            font-style: italic;
                                          "
                                        >
                                          Thank you for joining PICT InC'23. We
                                          hope you will have a great time here.
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                    class="tableDescription"
                                  >
                                    <tr>
                                      <td
                                        style="padding-bottom: 20px"
                                        class="description"
                                        valign="top"
                                        align="center"
                                      >
                                        <h4
                                          style="
                                            color: #075985cc;
                                            font-family: 'Open Sans', Helvetica,
                                              Arial, sans-serif;
                                            font-size: 20px;
                                            font-weight: 600;
                                            font-style: normal;
                                            letter-spacing: normal;
                                            text-transform: none;
                                            text-align: center;
                                            padding: 0;
                                            margin: 0;
                                          "
                                        >
                                          TEAM ID : <%= team.id %>
                                        </h4>
                                      </td>
                                    </tr>
                                  </table>
                                  <table
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  width="100%"
                                  class="tableDescription"
                                >
                                  <tr>
                                    <td
                                      style="padding-bottom: 20px"
                                      class="description"
                                      valign="top"
                                      align="center"
                                    >
                                      <h4
                                        style="
                                          color: #075985cc;
                                          font-family: 'Open Sans', Helvetica,
                                            Arial, sans-serif;
                                          font-size: 20px;
                                          font-weight: 600;
                                          font-style: normal;
                                          letter-spacing: normal;
                                          text-transform: none;
                                          text-align: center;
                                          padding: 0;
                                          margin: 0;
                                        "
                                      >
                                        TICKET : <%= team.ticket %>
                                      </h4>
                                    </td>
                                  </tr>
                                </table>
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="85%"
                                    max-width="85%"
                                    class="tableDescription"
                                    style="
                                      border: 2px dashed rgba(7, 89, 133, 0.53);
                                      padding: 5%;
                                      border-radius: 10px;
                                    "
                                  >
                                  <tbody>
                                    <tr>
                                     
                                      <td
                                          style="padding-bottom: 15px"
                                          align="center"
                                          valign="top"
                                          class="description"
                                        >
                                        
                                          <h4 style="color: #075985cc;
                                          font-family: 'Open Sans', Helvetica,
                                            Arial, sans-serif;
                                          font-size: 20px;
                                          font-weight: 500;
                                          font-style: normal;
                                          text-decoration:underline;
                                          letter-spacing: normal;
                                          text-transform: none;
                                          text-align: center;
                                          padding: 0;
                                          margin: 0;">Click the below link to view the complete receipt</h4>
                                        </td>
                                      </tr>
                                       
                                    <tr>
                                      
                                      <td
                                      style="padding-bottom: 10px"
                                      align="center"
                                      valign="top"
                                      class="description"
                                    >
                                    
                                      <h4 style="color: #f3a30f;
                                      font-family: 'Open Sans', Helvetica,
                                        Arial, sans-serif;
                                      font-size: 20px;
                                      font-weight: 550;
                                      font-style: normal;
                                      cursor:pointer;
                                      
                                      letter-spacing: normal;
                                      text-transform: none;
                                      text-align: center;
                                      padding: 0;
                                      margin: 0;">pictinc.org/events/verify/registration</h4>
                                    </td>
                                     
                                    </tr>
                                   
                                     
                                    
                                  </tbody>
                                      
                                  </table>
                                </td>
                              </tr>
                            </td>
                          </tr>
                        </td>
                      </tr>
                    </table>
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="wrapperFooter"
                      style="max-width: 600px"
                    >
                      <tr style="max-width: 100%">
                        <td valign="top" align="center">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                            class="footer"
                          >
                            <tr>
                              <td
                                style="
                                  padding-top: 10px;
                                  padding-bottom: 10px;
                                  padding-left: 10px;
                                  padding-right: 10px;
                                "
                                class="socialLinks"
                                valign="top"
                                align="center"
                              >
                                <a
                                  href="https://www.instagram.com/pict_inc_2023/"
                                  style="display: inline-block"
                                  target="_blank"
                                  class="instagram"
                                  ><img
                                    alt="instagram-icon"
                                    src="https://res.cloudinary.com/job-kart/image/upload/v1677852498/logo-instagram-png-2445_mrpxqc.png"
                                    style="
                                      height: auto;
                                      width: 100%;
                                      max-width: 45px;
                                      border-radius: 50px;
                                    "
                                    width="45"
                                    border="0" /></a
                                ><a
                                  href="https://www.linkedin.com/school/pune-institute-of-computer-technology/"
                                  style="display: inline-block"
                                  target="_blank"
                                  class="linkdin"
                                  ><img
                                    alt="linkedin-icon"
                                    src="https://res.cloudinary.com/job-kart/image/upload/v1677852608/linkedin-logo-png-1853_grzbfa.png"
                                    style="
                                      height: auto;
                                      width: 100%;
                                      max-width: 34px;
                                      margin: 0 10px;
                                      margin-bottom: 7px;
                                    "
                                    width="34"
                                    border="0" /></a
                                ><a
                                  href="https://pictinc.org"
                                  style="display: inline-block"
                                  target="_blank"
                                  class="facebook"
                                  ><img
                                    alt="web-icon"
                                    src="https://res.cloudinary.com/job-kart/image/upload/v1677852742/logo-internet-ie-26086_lbxuos.png"
                                    style="
                                      height: auto;
                                      width: 100%;
                                      max-width: 36px;
                                      margin-bottom: 5px;
                                    "
                                    width="36"
                                    border="0"
                                /></a>
                                <tr>
                                  <td
                                    style="padding: 10px 10px 5px"
                                    class="brandInfo"
                                    valign="top"
                                    align="center"
                                  >
                                    <p
                                      class="text"
                                      style="
                                        color: #bbb;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 12px;
                                        font-weight: 400;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        line-height: 20px;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      © PICT INC 2023. All rights reserved |
                                      PICT, Pune - 411043 | India
                                      <tr>
                                        <td
                                          style="padding: 0 10px 10px"
                                          class="footerEmailInfo"
                                          valign="top"
                                          align="center"
                                        >
                                          <p
                                            class="text"
                                            style="
                                              color: #bbb;
                                              font-family: 'Open Sans',
                                                Helvetica, Arial, sans-serif;
                                              font-size: 12px;
                                              font-weight: 400;
                                              font-style: normal;
                                              letter-spacing: normal;
                                              line-height: 20px;
                                              text-transform: none;
                                              text-align: center;
                                              padding: 0;
                                              margin: 0;
                                            "
                                          >
                                            If you have any query please contact
                                            us
                                            <a
                                              href="mailto:queries.pictinc2023@gmail.com"
                                              style="
                                                color: #bbb;
                                                text-decoration: underline;
                                              "
                                              target="_blank"
                                              >queries.pictinc2023@gmail.com</a
                                            ><br />
                                            <tr>
                                              <td
                                                style="
                                                  font-size: 1px;
                                                  line-height: 1px;
                                                "
                                                height="30"
                                              ></td>
                                            </tr>
                                          </p>
                                        </td>
                                      </tr>
                                    </p>
                                  </td>
                                </tr>
                              </td>
                            </tr>
                          </table>
                          <tr>
                            <td
                              style="font-size: 1px; line-height: 1px"
                              height="30"
                            ></td>
                          </tr>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
